{{ if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "{{- ( site.Params.schema.publisherType | default "Organization") | title -}}",
  "name": {{ site.Title | jsonify }},
  "url": {{ site.Home.Permalink | jsonify }},
  "description": {{ site.Params.description | plainify | truncate 180 | jsonify }},
  {{- if (eq site.Params.schema.publisherType "Person") }}
  "image": {{ site.Params.assets.favicon | default "favicon.ico" | absURL | jsonify }},
  {{- else }}
  "logo": {{ site.Params.assets.favicon | default "favicon.ico" | absURL | jsonify }},
  {{- end }}
  "sameAs": [
    {{- if site.Params.schema.sameAs }}
      {{ range $i, $e := site.Params.schema.sameAs }}{{ if $i }}, {{ end }}{{ trim $e " " | jsonify }}{{ end }}
    {{- else}}
      {{ range $i, $e := site.Params.SocialIcons }}{{ if $i }}, {{ end }}{{ trim $e.url " " | safeURL | jsonify }}{{ end }}
    {{- end}}
  ]
}
</script>
{{- else if (or .IsPage .IsSection) }}
{{/* BreadcrumbList */}}
{{- $url := replace .Parent.Permalink ( printf "%s" site.Home.Permalink) "" }}
{{- $lang_url := strings.TrimPrefix ( printf "%s/" .Lang) $url }}
{{- $bc_list := (split $lang_url "/")}}

{{- $scratch := newScratch }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
  {{- range $index, $element := $bc_list }}

    {{- $scratch.Add "path" (printf "%s/" $element ) | safeJS }}
    {{- $bc_pg := site.GetPage ($scratch.Get "path") -}}

    {{- if (and ($bc_pg) (gt (len . ) 0))}}
    {{- if (and $index)}}, {{end }}
    {
      "@type": "ListItem",
      "position": {{ add 1 $index  }},
      "name": {{ $bc_pg.Name | jsonify }},
      "item": {{ $bc_pg.Permalink | jsonify }}
    }
    {{- end }}

  {{- end }}
  {{- /*  self-page addition  */ -}}
  {{- if (ge (len $bc_list) 2) }}, {{end }}
    {
      "@type": "ListItem",
      "position": {{len $bc_list}},
      "name": {{ .Name | jsonify }},
      "item": {{ .Permalink | jsonify }}
    }
  ]
}
</script>
{{- if .IsPage }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ .Title | plainify | jsonify }},
  "name": {{ .Title | plainify | jsonify }},
  "description": {{ with .Description | plainify }}{{ . | jsonify }}{{ else }}{{ .Summary | plainify | jsonify }}{{ end -}},
  "keywords": [
    {{- if .Params.keywords }}
    {{ range $i, $e := .Params.keywords }}{{ if $i }}, {{ end }}{{ $e | jsonify }}{{ end }}
    {{- else }}
    {{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e | jsonify }}{{ end }}
    {{- end }}
  ],
  "articleBody": {{ .Content | safeJS | htmlUnescape | plainify | jsonify }},
  "wordCount" : "{{ .WordCount }}",
  "inLanguage": {{ .Language.Lang | default "en-us" | jsonify }},
  {{ if .Params.cover.image -}}
  "image":
    {{- if (ne .Params.cover.relative true) -}}
    {{ .Params.cover.image | absURL | jsonify }},
    {{- else -}}
    {{ (path.Join .RelPermalink .Params.cover.image ) | absURL | jsonify }},
    {{- end}}
  {{- else }}
  {{- $images := partial "templates/_funcs/get-page-images" . -}}
  {{- with index $images 0 -}}
  "image": {{ .Permalink | jsonify }},
  {{- end }}
  {{- end -}}
  "datePublished": {{ .PublishDate | jsonify }},
  "dateModified": {{ .Lastmod | jsonify }},
  {{- with (.Params.author | default site.Params.author) }}
  "author":
    {{- if (or (eq (printf "%T" .) "[]string") (eq (printf "%T" .) "[]interface {}")) -}}
  [{{- range $i, $v := . -}}
  {{- if $i }}, {{end -}}
  {
    "@type": "Person",
    "name": {{ $v | jsonify }}
  }
  {{- end }}],
    {{- else -}}
  {
    "@type": "Person",
    "name": {{ . | jsonify }}
  },
    {{- end -}}
  {{- end }}
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | jsonify }}
  },
  "publisher": {
    "@type": "{{- ( site.Params.schema.publisherType | default "Organization") | title -}}",
    "name": {{ site.Title | jsonify }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ site.Params.assets.favicon | default "favicon.ico" | absURL | jsonify }}
    }
  }
}
</script>
{{- end }}{{/* .IsPage end */}}

{{- end -}}
