{{- $bvid := .Get "bvid" | default (.Get 0) -}}
{{- $page := .Get "page" | default "1" -}}
{{- $title := .Get "title" | default "" -}}

{{- if not $bvid -}}
  {{ errorf "bilibili shortcode 需要提供 bvid，例如：{{< bilibili BV1xx411c7mD >}} 或 {{< bilibili bvid=\"BV1xx411c7mD\" page=\"2\" >}}" }}
{{- end -}}

<figure style="margin:1.5rem 0;">
  <div style="position:relative;width:100%;padding-bottom:56.25%;height:0;overflow:hidden;border-radius:8px;">
    <iframe
      style="position:absolute;top:0;left:0;width:100%;height:100%;border:0;"
      src="https://player.bilibili.com/player.html?bvid={{ $bvid }}&page={{ $page }}&autoplay=0"
      scrolling="no"
      frameborder="no"
      framespacing="0"
      loading="lazy"
      allowfullscreen>
    </iframe>
  </div>
  {{- if $title }}<figcaption style="margin-top:.5rem;text-align:center;font-size:.9em;color:#888;">{{ $title }}</figcaption>{{- end }}
</figure>
